<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wizards of the Hills</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link href="/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
  <link href="stylesheets/index.css" rel="stylesheet">
</head>

<body>
  <%- include('header.ejs') %>
    <div class="container">
      <form class="form-inline mb-3">
        <div class="form-group">
          <input type="text" class="form-control" id="searchQuery" placeholder="Find your next great adventure...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <h2>Featured</h2>
      <div class="row">
        <% featuredItems.forEach(item=> { %>
          <div class="col-sm-3">
            <a href="/item/<%= item.itemNumber %>" class="thumbnail-link">
              <div class="thumbnail">
                <img src="<%= item.imageUrl %>" alt="<%= item.name %>">
                <div class="caption">
                  <h3>
                    <%= item.name %>
                  </h3>
                  <p>$<%= item.price.toFixed(2) %>
                  </p>
                </div>
              </div>
            </a>
          </div>
          <% }); %>
      </div>
      <%- include('categoriesCarousel.ejs') %>
    </div>
    <%- include('footer.ejs') %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
</body>

</html>