<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Author Page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Custom styles for this template -->
    <link href="../../stylesheets/cartPage.css" rel="stylesheet">

</head>

<body>

    <%- include('../../header.ejs') %>

        <!-- Shopping cart -->
        <div class="container">
            <div class="big-spacer"></div>
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th class="text-center">Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% if (items && items.length> 0) { %>
                                <% let subtotal=0; %>
                                    <% items.forEach(function(item) { %>
                                        <tr>
                                            <td class="col-sm-8 col-md-6">
                                                <div class="media">
                                                    <a class="thumbnail pull-left" href="#">
                                                        <img class="media-object" src="<%= item.itemImageUrl %>"
                                                            alt="<%= item.name %>" style="width: 72px; height: 72px;">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a
                                                                href="/item/<%= item.itemNumber %>">
                                                                <%= item.name %>
                                                            </a></h4>
                                                        <h5 class="media-heading"> by <a
                                                                href="<%= item.authorWebsite %>">
                                                                <%= item.authorName %>
                                                            </a></h5>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center"><strong>$<%= item.price.toFixed(2) %></strong></td>
                                            <td>
                                                <form action="/remove-from-cart" method="post">
                                                    <input type="hidden" name="itemNumber"
                                                        value="<%= item.itemNumber %>">
                                                    <button type="submit" class="btn btn-danger"><span
                                                            class="glyphicon glyphicon-remove"></span> Remove</button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% subtotal +=item.price * (item.quantity || 1); %>
                                            <% }); %>
                                                <tr>
                                                    <td>Subtotal</td>
                                                    <td class="text-right"><strong>$<%= subtotal.toFixed(2) %></strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Estimated tax (10%)</td>
                                                    <td class="text-right"><strong>$<%= (subtotal * 0.10).toFixed(2) %>
                                                        </strong></td>
                                                </tr>
                                                <tr>
                                                    <td>Total</td>
                                                    <td class="text-right"><strong>$<%= (subtotal + subtotal *
                                                                0.10).toFixed(2) %></strong></td>
                                                </tr>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="5">Your cart is empty.</td>
                                                    </tr>
                                                    <% } %>
                                                        <tr>
                                                            <td> </td>
                                                            <td>
                                                                <button type="button" class="btn btn-default"
                                                                    onclick="location.href='/index'">
                                                                    <span
                                                                        class="glyphicon glyphicon-shopping-cart"></span>
                                                                    Continue Shopping
                                                                </button>
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-success"
                                                                    onclick="location.href='/pages/checkoutPage/checkout'">
                                                                    Checkout <span
                                                                        class="glyphicon glyphicon-play"></span>
                                                                </button>
                                                            </td>
                                                        </tr>
                        </tbody>
                        <script>
                            function removeItem(itemNumber) {
                                // This will send a POST request to remove the item from the cart
                                $.post('/remove-from-cart', { itemNumber: itemNumber }, function (data) {
                                    if (data.success) {
                                        window.location.reload();  // Reload the page to update the cart display
                                    } else {
                                        alert('Failed to remove item');
                                    }
                                });
                            }
                        </script>
                    </table>
                </div>
            </div>
        </div>
        <div class="big-spacer"></div>
        <div class="big-spacer"></div>
        <div class="big-spacer"></div>
        <div class="big-spacer"></div>

        <%- include('../../footer.ejs') %>


            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
            <script src="/js/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>