<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Author Page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Custom styles for this template -->
    <link href="../../stylesheets/cartPage.css" rel="stylesheet">

</head>

<body>

    <%- include('../../header.ejs') %>

        <!-- Shopping cart -->
        <div class="container">
            <div class="big-spacer"></div>
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th> </th>
                                <th> </th>
                                <th class="text-center">Price</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (items && items.length> 0) { %>
                                <% items.forEach(function(item) { %>
                                    <tr>
                                        <td><img src="<%= item.imageUrl %>" alt="<%= item.name %>" style="width: 50px;">
                                        </td>
                                        <td>
                                            <%= item.name %>
                                        </td>
                                        <td>
                                            <%= item.quantity %>
                                        </td>
                                        <td>$<%= (item.price).toFixed(2) %>
                                        </td>
                                        <td>
                                            <form action="/remove-from-cart" method="post">
                                                <input type="hidden" name="itemNumber" value="<%= item.itemNumber %>">
                                                <button type="submit" class="btn btn-danger">Remove</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }); %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="5">Your cart is empty.</td>
                                            </tr>
                                            <% } %>
                        </tbody>
                        <script>
                            function removeItem(itemNumber) {
                                // This will send a POST request to remove the item from the cart
                                $.post('/remove-from-cart', { itemNumber: itemNumber }, function (data) {
                                    if (data.success) {
                                        window.location.reload();  // Reload the page to update the cart display
                                    } else {
                                        alert('Failed to remove item');
                                    }
                                });
                            }
                        </script>
                    </table>
                </div>
            </div>
        </div>
        <div class="big-spacer"></div>
        <div class="big-spacer"></div>
        <div class="big-spacer"></div>
        <div class="big-spacer"></div>

        <%- include('../../footer.ejs') %>


            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
            <script src="/js/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>